/.metadata
/examples/*/.settings
/examples/*/.mxproject
/examples/*/Core/*
!/examples/*/Core/Startup
/examples/*/Drivers
/examples/*/LWIP
/examples/*/MBEDTLS
/examples/*/Middlewares
/examples/*/Debug
/examples/*/Release